In [96]:
import pandas as pd
import os

print("Files in directory:", os.listdir())

Files in directory: ['NIFTY50_Zret_Sorted.xlsx', 'assignment_VOL_data.xlsx', '.DS_Store', '~$assignment_VOL_data.xlsx', 'NIFTY50_Historical_PR_01021990to27022025 copy.csv', 'NIFTY50_Historical_PR_01021990to27022025.csv', 'Notebook.ipynb', 'Nifty50_Vol.py', 'NIFTY50.csv', 'venv']

In [97]:
#df=pd.read_csv('NIFTY50_Historical_PR_01021990to27022025.csv')
df=pd.read_excel('assignment_VOL_data.xlsx')

In [98]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(100)

,Date,Close,Log_Return,daily % chg,20day vol,previous 20d return,next 20 day return,zvol20,zfret20,zret20
0,1960-01-04,59.910000,NaN,NaN,NaN,NaN,-0.065932,NaN,NaN,NaN
1,1960-01-05,60.389999,0.007980,0.008012,NaN,NaN,-0.059116,NaN,NaN,NaN
2,1960-01-06,60.130001,-0.004315,-0.004305,NaN,NaN,-0.063363,NaN,NaN,NaN
3,1960-01-07,59.689999,-0.007344,-0.007318,NaN,NaN,-0.057296,NaN,NaN,NaN
4,1960-01-08,59.500000,-0.003188,-0.003183,NaN,NaN,-0.059160,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,1960-05-18,55.439999,-0.000361,-0.000361,0.006256,0.000000,0.037157,NaN,NaN,NaN
96,1960-05-19,55.680000,0.004320,0.004329,0.005617,0.001619,0.031609,NaN,NaN,NaN
97,1960-05-20,55.730000,0.000898,0.000898,0.005669,0.005594,0.025659,NaN,NaN,NaN
98,1960-05-23,55.759998,0.000538,0.000538,0.005622,0.016405,0.024211,NaN,NaN,NaN
99,1960-05-24,55.700001,-0.001077,-0.001076,0.005062,0.011991,0.028366,NaN,NaN,NaN

In [99]:
df['Daily_returns']=df["Close"].pct_change()
df.head(100)

,Date,Close,Log_Return,daily % chg,20day vol,previous 20d return,next 20 day return,zvol20,zfret20,zret20,Daily_returns
0,1960-01-04,59.910000,NaN,NaN,NaN,NaN,-0.065932,NaN,NaN,NaN,NaN
1,1960-01-05,60.389999,0.007980,0.008012,NaN,NaN,-0.059116,NaN,NaN,NaN,0.008012
2,1960-01-06,60.130001,-0.004315,-0.004305,NaN,NaN,-0.063363,NaN,NaN,NaN,-0.004305
3,1960-01-07,59.689999,-0.007344,-0.007318,NaN,NaN,-0.057296,NaN,NaN,NaN,-0.007318
4,1960-01-08,59.500000,-0.003188,-0.003183,NaN,NaN,-0.059160,NaN,NaN,NaN,-0.003183
...,...,...,...,...,...,...,...,...,...,...,...
95,1960-05-18,55.439999,-0.000361,-0.000361,0.006256,0.000000,0.037157,NaN,NaN,NaN,-0.000361
96,1960-05-19,55.680000,0.004320,0.004329,0.005617,0.001619,0.031609,NaN,NaN,NaN,0.004329
97,1960-05-20,55.730000,0.000898,0.000898,0.005669,0.005594,0.025659,NaN,NaN,NaN,0.000898
98,1960-05-23,55.759998,0.000538,0.000538,0.005622,0.016405,0.024211,NaN,NaN,NaN,0.000538
99,1960-05-24,55.700001,-0.001077,-0.001076,0.005062,0.011991,0.028366,NaN,NaN,NaN,-0.001076

In [100]:
df['20-day_Volatility'] = df['Daily_returns'].rolling(window=20).std()

print(df.iloc[15:26])

         Date      Close  Log_Return  daily % chg  20day vol  \
15 1960-01-25  56.779999   -0.010512    -0.010457        NaN
16 1960-01-26  56.860001    0.001408     0.001409        NaN
17 1960-01-27  56.720001   -0.002465    -0.002462        NaN
18 1960-01-28  56.130001   -0.010456    -0.010402        NaN
19 1960-01-29  55.610001   -0.009307    -0.009264        NaN
20 1960-02-01  55.959999    0.006274     0.006294   0.005926
21 1960-02-02  56.820000    0.015251     0.015368   0.006202
22 1960-02-03  56.320000   -0.008839    -0.008800   0.007070
23 1960-02-04  56.270000   -0.000888    -0.000888   0.007184
24 1960-02-05  55.980000   -0.005167    -0.005154   0.007136
25 1960-02-08  55.320000   -0.011860    -0.011790   0.007153

    previous 20d return  next 20 day return  zvol20  zfret20  zret20  \
15                  NaN           -0.014794     NaN      NaN     NaN
16                  NaN           -0.019697     NaN      NaN     NaN
17                  NaN           -0.013928     NaN      NaN     NaN
18                  NaN            0.000534     NaN      NaN     NaN
19                  NaN            0.009171     NaN      NaN     NaN
20            -0.065932            0.000893     NaN      NaN     NaN
21            -0.059116           -0.021119     NaN      NaN     NaN
22            -0.063363           -0.027344     NaN      NaN     NaN
23            -0.057296           -0.030211     NaN      NaN     NaN
24            -0.059160           -0.035013     NaN      NaN     NaN
25            -0.058703           -0.033442     NaN      NaN     NaN

    Daily_returns  20-day_Volatility
15      -0.010457                NaN
16       0.001409                NaN
17      -0.002462                NaN
18      -0.010402                NaN
19      -0.009264                NaN
20       0.006294           0.006202
21       0.015368           0.007070
22      -0.008800           0.007184
23      -0.000888           0.007136
24      -0.005154           0.007153
25      -0.011790           0.007121

In [101]:
df["250_Mean"] = df["20-day_Volatility"].rolling(window=250).apply(lambda x: x.mean(), raw=True)
df["250_SD"] = df["20-day_Volatility"].rolling(window=250).std(ddof=0)  # Population SD

# Compute Zret20Vol using `250_Mean` instead of `.mean()` (to match Excel)
df["Zret20Vol"] = (df["20-day_Volatility"] - df["250_Mean"].shift(1)) / df["250_SD"].shift(1)
output_file = "NIFTY50_Zret_Compare.xlsx"
df.to_excel(output_file, sheet_name="Compare_Zret", index=False)

In [102]:
df_filtered = df.dropna(subset=["Zret20Vol"])
df_sorted = df_filtered.sort_values(by="Zret20Vol", ascending=False)
df_sorted.head(-20)
output_file = "NIFTY50_Zret_Sorted.xlsx"
df_sorted.to_excel(output_file, sheet_name="Sorted_Zret", index=False)